<md-content flex layout-padding>
  <h2>{{ shipment.type }}: {{ shipment.scheduledFor | date:'d MMMM yyyy' : 'UTC' }}</h2>
  
  <h4 ng-if="shipment.type === 'entry'">
    Fornecedor: {{ shipment.supplier.name }}
  </h4>
  <h4 ng-if="shipment.type === 'exit'">
    Destinatário: {{ shipment.destination.name }}
  </h4>

  <h4>Alocações</h4>

  <md-list>
    <md-list-item
      ng-repeat="allocation in shipment.allocations">

      <p>{{ allocation.productModel.description }}</p>
      <p>validade: {{ allocation.productExpiry | date:'d MMMM yyyy' : 'UTC' }}</p>
      <p>
        {{ allocation.quantity.value - allocation.remaining.value }} /
        {{ allocation.quantity.value }} {{ allocation.quantity.unit }}
      </p>
      <md-button class="md-raised md-primary" ng-click="openNewOperationDialog(shipment, allocation)">efetivar</md-button>
<!-- 
      <div class="md-list-item-text allocation-operations">
        <md-list>
          <md-list-item
            ng-repeat="operation in allocation.operations">
            <p>{{ operation.productModel.description }}</p>
            <p>validade: {{ operation.productExpiry | date:'d MMMM yyyy' : 'UTC' }}</p>
            <p>
              {{ operation.quantity.value }} {{ operation.quantity.unit }}
            </p>
            <md-button class="md-raised md-primary">detalhes</md-button>
          </md-list-item>
        </md-list>
      </div> -->

    </md-list-item>
  </md-list>

  <h4>Operações</h4>

  <md-list>
    <md-list-item
      ng-repeat="operation in shipment.unallocatedOperations">
      <p>{{ operation.productModel.description }}</p>
      <p>validade: {{ operation.productExpiry | date:'d MMMM yyyy' : 'UTC' }}</p>
      <p>
        {{ operation.quantity.value }} {{ operation.quantity.unit }}
      </p>
      <md-button class="md-raised md-primary">detalhes</md-button>
    </md-list-item>
  </md-list>

</md-content>
