#new-shipment-dialog {
  max-width: 98%;
  max-height: 98%;
  width: 98%;
  height: 98%;
  border-radius: 0;
}

.product-list {
  margin: 0 0;
  padding: 0 0;
  
  list-style: none;
}

.product-list > li {
  margin: 0 0;
  padding: 0 0;
}

.product-list > li md-autocomplete {
  width: 100%;
}