<md-dialog id="new-shipment-dialog" class="fullscreen">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{ shipment.type }}: {{ shipment.scheduledFor | date:'d MMMM yyyy' : 'UTC' }}</h2>
      <span flex></span>
      <md-button ng-click="close()" class="md-icon-button">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-content class="md-padding">
      <h4 ng-if="shipment.type === 'entry'">
        Fornecedor: {{ shipment.supplier.name }}
      </h4>
      <h4 ng-if="shipment.type === 'exit'">
        Destinatário: {{ shipment.destination.name }}
      </h4>

      <h5>Alocações</h5>
      <table>
        <tr ng-repeat="allocation in shipment.summaries.allocations">
          <td>{{ allocation.productModel.description }}</td>
          <td>validade: {{ allocation.productExpiry | date:'d MMMM yyyy' : 'UTC' }}</td>
        </tr>
      </table>

      <h5>Operações</h5>
      <table>
        <tr ng-repeat="operation in shipment.summaries.operations">
          <td>{{ operation.productModel.description }}</td>
          <td>validade: {{ operation.productExpiry | date:'d MMMM yyyy' : 'UTC' }}</td>
        </tr>
      </table>
    </md-content>

  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button ng-click="submit()">
      Create
    </md-button>
  </md-dialog-actions>
</md-dialog>